<h1>Please Enter Password</h1>
<form action="/setpass" method="post">
    <label for="pass">Password:</label>
    <input type="text" id="pass" name="pass" required>
    <button type="submit">Submit</button>
</form>