<h1>Please Enter Password</h1>
<form action="/setpass" method="post">
    <label for="_pass">Password:</label>
    <input type="text" id="_pass" name="_pass" required>
    <button type="submit">Submit</button>
</form>